
.container {
  position: absolute;
  top: 80px;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1rem;
  overflow: hidden;
}

.layout {
  display: grid;
  grid-template-columns: 360px 1fr;
  gap: 1rem;
  align-items: stretch;
  height: 100%;
}


.layout > div {
  display: flex;
  flex-direction: column;
  min-height: 0; 
}


.layout > div .card {
  height: 100%;
}


.layout > div .card .card-body {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  min-height: 0;
}

@media (max-width: 768px) {
  .layout {
    grid-template-columns: 1fr;
  }
}